<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/estilos-admin.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <a href="#" class="header__logo">Logo</a>
        <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>

        <nav class="nav" id="nav-menu">
            <div class="nav__content bd-grid"> 
                <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>
            
                <div class="nav__perfil">
                    <div class="nav__img">
                        <img src="../../public/imgfondos/capitan.jpg" alt="">
                    </div>

                    <div>
                        <a href="#" class="nav__name">Daniel Robayo</a>
                        <span class="nav__rol">Administrador</span>
                    </div>

                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a href="#" class="nav-link active">Usuarios</a></li>
                            <li class="nav__item"><a href="#" class="nav-link">Marvel</a></li>
                            <li class="nav__item"><a href="#" class="nav-link">DC Comics</a></li>
                            <li class="nav__item"><a href="#" class="nav-link">Anime</a></li>
                        </ul>
                    </div>
                </div>
            
            
            </div>
        </nav>


    </header>


    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="../../public/js/nav-admin.js"></script>
</body>
</html>