<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../../public/imgfondos/logocrimax.jpg">
    <link rel="stylesheet" href="../../public/styles/estilos-log.css">
    <title>Crimax - Iniciar Sesión</title>
</head>
<body>
    <div class="container-master">
        <div class="fondo">
            <img src="../../public/imgfondos/babygroot.jpg">
        </div>
        <div class="contenedor">
            <form>
                <p class="lbl-iniciar">Iniciar Sesión</p>
                <p class="title">Ingrese su correo</p>
                <input type="email" name="correo" placeholder="Ingrese su correo">
                <p class="title">Ingrese su contraseña</p>
                <input type="password" name="contraseña" placeholder="Ingrese su contraseña">
                <input type="submit" value="Ingresar">
            </form>
        </div>
    </div>
</body>
</html>