<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="../../public/imgfondos/logocrimax.jpg">
    <link rel="stylesheet" href="../../public/styles/estilos-reg.css">
    <title>Crimax - Registro</title>
</head>
<body>
    <div class="container-master">
        <div class="contenedor">

            <form action="registro.ejs" method="POST">
                <img src="../../public/svg/ironman.svg">
                <p>ESTAS LISTO PARA SER UN SUPER HEROE!!!</p>
                <label>Ingrese su Cedula</label>
                <input type="text" placeholder="Ingrese su Cedula">
                
                <label>Ingrese su Nombre</label>
                <input type="text" placeholder="Ingrese su Nombre">
                
                <label>Ingrese su Apellido</label>
                <input type="text" placeholder="Ingrese su Apellido">
                
                <label>Ingrese su Direccion</label>
                <input type="text" placeholder="Ingrese su Direccion">
                
                <label>Ingrese su Celular</label>
                <input type="text" placeholder="Ingrese su Celular"> 
                
                <label>Ingrese su Correo Electronico</label>
                <input type="text" placeholder="Ingrese su Correo Electronico"> 
                
                <input type="submit" value="Registrarme">
            </form>

        </div>
    </div>
</body>
</html>